body{
    background: #404040;
}

header{
    margin: 10px 20px;
}

header a{
    text-decoration: none;
}

header a img{
    border-radius: 60%;
    width: 60px;
    height: auto;
}

.head{
    box-shadow: 8px 8px 10px #990066;
}

.head h1{
    color: white;
    text-align: center;
    padding: 20px;
    border: 1.5px solid #FFFF00;
}

.para{
    margin: 40px 20px;

}

p{
    font-family: "Lucida Console", sans-serif, monospace;
    color: #F0F0F0;
    border: 1px solid lightgray;
    font-size: 20px;
    text-align: center;
    padding: 20px 10px; 
}

.nav{
    text-decoration: none;
    margin: 30px 30px;
    align-items: center;
}

.nav a{
    position: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    margin: 30px 10px;
}

.nav a:hover{
    transition: 0.6s ease;
    color: #0066FF;
    background: #B0B0B0;
    border: 2px solid dodgerblue;
}

#prev{
    float: left;
}

#next{
    margin: -10px 20px;
    float: right;
}
